<div class="container">
    <!-- Login Form -->
    <div class="login-container" id="login-container">
      <div class="alert alert-danger" id="error-message" role="alert">
        Invalid username or password!
      </div>
      <div class="login-form">
        <h2>Signup</h2>
        <form id="login-form">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" [(ngModel)]="loginObj.username"  type="text" class="form-control" id="username" placeholder="Enter your username" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" [(ngModel)]="loginObj.password" type="password" class="form-control" id="password" placeholder="Enter your password" required>
          </div>
          <div class="mb-3 form-check">
           
           
          </div>
          <button type="submit"  class="btn btn-primary btn-custom" (click)="signup()">Signup</button>
          <a routerLink="/login">Already have an account?</a>
        </form>
      </div>
    </div>