
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a,
  img,
  span,
  input,
  button,
  ion-icon {
    display: block;
  }
  
  button,
  input {
    background: none;
    border: none;
    font: inherit;
  }
  
  button {
    cursor: pointer;
  }
  
  input {
    width: 100%;
  }
  
  ion-icon {
    pointer-events: none;
  }
  
  img {
    height: auto;
  }
  
  address {
    font-style: normal;
  }
  
  html {
    font-family: var(--ff-poppins);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--white);
    color: var(--purple-navy);
    font-size: 1.6rem;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 95%);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 80%);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
  }
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container {
    padding-inline: 15px;
  }
  
  .h2,
  .h3 {
    font-family: var(--ff-source-sans-pro);
  }
  
  .btn {
    background-image: var(--gradient-2);
    background-size: 200%;
    color: var(--white);
    padding: 12px 35px;
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    border-radius: 0 25px;
    transition: var(--transition-2);
  }
  
  .btn:is(:hover, :focus) {
    background-position: right;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .banner-animation {
    animation: waveAnim 2s linear infinite alternate;
  }
  
  @keyframes waveAnim {
    0% {
      transform: translate(0, 0) rotate(0);
    }
    100% {
      transform: translate(2px, 2px) rotate(1deg);
    }
  }
  
 
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  
  
  /*-----------------------------------*\
    #SERVICE
  \*-----------------------------------*/
  

  
  /*-----------------------------------*\
    #GO TO TOP
  \*-----------------------------------*/
  
  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 550px screen
   */
  
  @media (min-width: 550px) {
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 550px;
      margin-inline: auto;
    }
  
    .section-title {
      --fs-3: 3.6rem;
    }
  
    /**
     * HEADER
     */
  
    .header .btn {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-inline-start: auto;
    }
  
    /**
     * ABOUT
     */
  
    .stats-list {
      grid-template-columns: repeat(3, 1fr);
    }
  
    /**
     * BLOG
     */
  
    .blog-card {
      display: grid;
      grid-template-columns: 0.75fr 1fr;
      gap: 20px;
      padding: 30px;
    }
  
    .blog-card .banner {
      margin-block-end: 0;
    }
  
    .blog-card .banner a {
      height: 100%;
    }
  
    /**
     * FOOTER
     */
  
    .footer-brand,
    .footer-list:not(:last-child) {
      margin-block-end: 0;
    }
  
    .footer-top .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 50px;
    }
  }
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 720px;
    }
  
    /**
     * HERO
     */
  
    .hero {
      min-height: 600px;
      display: grid;
      place-items: center;
    }
  
    .hero-content {
      margin-block-end: 0;
    }
  
    .hero .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
    }
  
    /**
     * SERVICE
     */
  
    .service-list {
      grid-template-columns: 1fr 1fr;
    }
  
    /**
     * FEATURES
     */
  
    .features-list > li:first-child {
      margin-block-end: 0;
    }
  
    .features-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
    }
  
    /**
     * FOOTER
     */
  
    .footer-top .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-1: 5.4rem;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 950px;
    }
  
    /**
     * HEADER
     */
  
    .header {
      padding-block: 20px;
    }
  
    .overlay,
    .nav-open-btn,
    .navbar-top {
      display: none;
    }
  
    .navbar,
    .navbar.active {
      all: unset;
      margin-inline-start: auto;
    }
  
    .header .btn {
      margin-inline-start: 0;
    }
  
    .navbar-list {
      display: flex;
      gap: 25px;
    }
  
    .navbar-item:not(:last-child) {
      border-bottom: none;
    }
  
    .navbar-link {
      color: var(--color);
    }
  
    /**
     * HERO
     */
  
    .hero {
      min-height: 700px;
    }
  
    /**
     * ABOUT
     */
  
    .about .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  
    /**
     * SERVICE
     */
  
    .service-list {
      grid-template-columns: repeat(3, 1fr);
    }
  
    /**
     * FEATURES
     */
  
    .features-list {
      grid-template-columns: 1fr;
    }
  
    .features .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  
    .features .section-title {
      grid-column: 1 / 4;
    }
  
    .features-banner {
      margin-block: 0;
      display: grid;
      place-items: center;
    }
  
    /**
     * FOOTER
     */
  
    .footer-top .container {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .footer-brand {
      grid-column: 1 / 5;
    }
  
    .footer-brand .text {
      max-width: 45ch;
    }
  }
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 1200px;
    }
  
    .section-title {
      --fs-3: 4.6rem;
    }
  
    /**
     * HERO
     */
  
    .hero {
      min-height: 800px;
    }
  
    /**
     * BLOG
     */
  
    .blog-list {
      grid-template-columns: 1fr 1fr;
    }
  
    .blog-card {
      height: 100%;
    }
  
    .blog-card .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    /**
     * FOOTER
     */
  
    .footer-top .container {
      grid-template-columns: 1fr 0.5fr 0.7fr 0.5fr 1fr;
    }
  
    .footer-brand {
      grid-column: auto;
    }
  }
  