<body id="top">
    <!-- #HEADER -->
    <header class="header" data-header>
      <div class="container">
        <div class="overlay" data-overlay></div>
        <a href="#">
          <h1 class="logo" style="color: black;padding: 2px;">Hebbar's Track</h1>
        </a>
        <nav class="navbar" data-navbar>
     
        </nav>
      
      
      </div>
    </header>
  
    <main>
      <article>
        <!-- #HERO -->
        <section class="hero" id="home">
          <div class="container">
            <div class="hero-content">
              <p class="hero-subtitle">Expense Tracker by $uraj</p>
              <h2 class="h2 hero-title">Track your Money 💸</h2>
             
              <button style="background-color: rgb(48, 158, 157);"
              class="btn btn-primary" routerLink="/login">Lets Use</button>
            </div>
            <figure class="hero-banner">
              <img src="https://raw.githubusercontent.com/codewithsadee/desinic/master/assets/images/hero-banner.png" width="694" height="529" loading="lazy" alt="hero-banner" class="w-100 banner-animation" />
            </figure>
          </div>
        </section>
  
        <!-- #ABOUT -->
       
      </article>
    </main>
  </body>
  